.menuWrapper {
    max-width: 1044px;
    position: absolute;
    right: 18px;
    top: 18px;
    width: 376px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

.menuItem {
    width: 165px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

.imgContainer {
    background-size: cover;
    width: 165px;
    height: 137px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}

.imgContainer img {
    margin: auto;
    height: 100%;
}

.menuItemName {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #AF9479;
    text-align: left;
    margin-top: 8.5px;
    margin-left: 11px;
    margin-bottom: 0;
}

.menuButtons {
    display: flex;
    height: 30px;
    padding: 11px 11px 0 11px;
    justify-content: space-between;
}

.menuButton {
    display: block;
    border: none;
    background-color: #fff;
    margin-bottom: 10px;
}

.menuButtonMinus {
    display: block;
    border: none;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
}

.menuButton:hover {
    cursor: pointer;
}

.menuButtonMinus svg {
    position: absolute;
    top: 7px;
}

.menuButton svg:hover {
    opacity: 0.5;
}

.menuButtonMinus svg:hover {
    cursor: pointer;
    opacity: 0.5;
}

.menuPrice {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #846340;
}

.menuCount {
    margin: 0 0 0 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #846340;
}

.paymentBtn {
    width: 338px;
    height: 47px;
    background: #342D1A;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1px;
    color: #F6E5D1;
    margin: 450px 16px 24px 16px;
    box-shadow: 0px 3px 7px 0px rgba(33, 33, 33, 0.34);
}

.paymentBtn:hover {
    cursor: pointer;
    box-shadow: none;
}
